body {
    font-family: Tahoma;
}

header{
    background-color: #003d33;
    color: white;
    text-align: center;
    height: 50px;
    display: flex;
}

main{
    display:flex    
}

#leftbanner{
     width: 70%;
}

#rightbanner{
    width: 30%;
}

#leftblock{
    background-color: #26a69a;
    height: 550px;
    width: 30%;
}

#rightblock{
    background-color: #26a69a;
    height: 550px;
    width: 70%;
}

footer {
    background-color: #003d33;
    color: white;
}

#businesscard{
    width: 400px;
    padding: 30px;
    text-align: center;
    border: 1px solid #003d33;
}

#businesscard button {
    background-color: #003d33;
    color: white;
    width: 100%;
    height: 30px;
    border: none;
}

#businesscard button:hover{
    background-color: #004c40;
}