/* body {

    margin: 0;
    padding: 0;
} */

.container {
    font-family: Helvetica, sans-serif;
    background-color: Linen;
    color: #222;
    width: 90%;
    margin: auto;
}

header {
    display: flex;
}

.banner {
    width: 50%;
    height: 100px;
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid white;
}

main {
    padding: 20px;
}

table {
    margin: 40px;
    border-collapse: collapse;
}

td {
    padding: 30px;
    text-align: center;
    font-weight: bold;
    /* border: 1px solid #ddd; */
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

a {
    color: #aaa;
    text-decoration: none;
}

a:hover{
    color: white;
}

