main{
    display: flex;
}



* {
    font-family: Garamond, serif;
    text-align: center;
}


.lewa-kolumna {
    width: 72%;
}


.blok-lewy1 {
    background-color: #795548;
    font-size: 170%;
}


.blok-lewy2 {
    height: 400px;
}


.prawa-kolumna {
    background-color: #BCAAA4;
    color: #795548;
    width: 28%;
}

.blok-prawy1, .blok-prawy2 {
    height: 400px;
}


table {
    margin: auto;
    width: 80%;
    border: 1px solid #795548;
}

table th, table td {
    border: 1px solid #795548;
}

table tr:hover {
    background-color: sienna;
    color: white;
}


h4 {
    font-size: 200%;
}

h1 {
    margin: 0;
}

img {
    padding: 20px;
    border-radius: 40px;
}


footer {
    background-color: #795548;
    color: white;
    padding: 20px;
}


a {
    color: white;
}


input[type="radio"] {
    margin: 7px;
}


